@font-face {
    font-family: 'Tungsten-Font';
    src: url(../fontes/Valorant-Tungsten-Bold.ttf) format(truetype);
}
@font-face {
    font-family: 'Spiegel-Regular';
    src: url(../fontes/Spiegel_TT_Regular.ttf), format(truetype) url(../fontes/Spiegel-Regular.otf) format(opentype);
}

body{
    font-family: 'Spiegel-Regular';
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;

}

.video video{
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}


.conter{
    width: 100%;
    height: 73vh;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;

}
form{
    background-color: #f0f0f00e;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #000000a4;
    border: 1px solid #ffffff25;
    padding: 100px;
    border-radius: 8px;
}
h2{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.form-nick input{
    font-family: 'Spiegel-Regular';
    width: 100%;
    height: 25px;
    position: relative;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border: 2px solid #f0f0f02d;
    border-radius: 10px;
}
.form-Email input{
    font-family: 'Spiegel-Regular';
    width: 100%;
    height: 25px;
    position: relative;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border: 2px solid #f0f0f02d;
    border-radius: 10px;
}
.form-nick input::placeholder{
    color: #242424;
}
.form-Email input::placeholder{
    color: #242424;
}
label{
    display: block;
    margin-bottom: 5px;
}
.check{
    position: relative;
    left: 20px;
}
button{
    font-family: 'Spiegel-Regular';
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4e3268;
    cursor: pointer;
}
.botao{
    font-family: 'Spiegel-Regular';
    position: relative;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    color: #f0f0f0;
    width: 170px;
    transition: transform 0.5s ease;
}
button:hover{
     transform: scale(1.1);
    
}
