@font-face {
    font-family: 'tungsten';
    src: url(../../Programa/fontes/Valorant-Tungsten-Bold.ttf) format(truetype);
}

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.bg-video video{
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}

.cadastro-box{
    color: #f0f0f0;
}

form{
    background-color: #cecece0a;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #000000a4;
    border: 1px solid #ffffff25;
    max-width: 500px;
    width: 50%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 10px;
    
}

h1{
    font-family: 'tungsten';
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    top: 0%;
    margin-bottom: 5%;
}

form label{
    color: #f0f0f0;
}

form input[type=text]{
    margin-bottom: 3%;
    width: 100%;
    height: 45px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}
form input[type=email]{
    width: 100%;
    height: 45px;
    padding-left: 10px;
    margin-bottom: 3%;
    border: none;
    outline: none;
    border-radius: 10px;
}

label{
    font-family: 'tungsten';
    font-size: larger;
    display: flex;
    align-items: flex-start;
    position: relative;
    left: 5px;
    margin-bottom: 2px;
}

select#gen{
    width: 100%;
    height: 45px;
    padding-left: 10px;
    margin-bottom: 3%;
    border: none;
    outline: none;
    border-radius: 10px;
}

select#pron{
    width: 25%;
    height: 45px;
    padding-left: 10px;
    margin-bottom: 3%;
    border: none;
    outline: none;
    border-radius: 10px;
}

form input[type=submit]{
    font-size: 19px;
    max-width: 100%;
    width: 50%;
    height: 50px;
    position: relative;
    left: 23%;
    top: 5%;
    border-radius: 15px;
    color: white;
    background-color:  #4e3268;
    border: 0;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.1);
   
}