@font-face {
    font-family: 'Valorant-font';
    src: url(../fontes/Valorant\ Font.ttf), format(truetype);


}


header{
    font-size: 100%;
    font-family: 'Valorant-font';
    background-color: #201a13;
    width: 100%;
     
 }
 
.navbar-bg-body-tertiary{
    background-color: #192230;
    width: 100%;
    height: 60px;
}


.logo-img{
    height: 30px;
    width: 40px;
}

.navbar-nome, .Iniciolol, .Optionslol{

    text-decoration: none;
    color: #f0f0f0;
    padding: 3%;
    position: relative;
    top: 15px;

}