@font-face {
    font-family: 'Tungsten';
    src: url(../fontes/Valorant-Tungsten-Bold.ttf) format(truetype);
}
header{
    z-index: 1000;
    font-family: 'Tungsten';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    color: #f0f0f0;
    text-decoration: none;
    font-weight: 700;
    font-size: 3em;
    text-transform: uppercase;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    color: #f0f0f0;
    padding: 6px 15px;
    font-size: 1.6em;
}
header ul li a:hover{
    background: #f0f0f0;
    color: #020c06;

}