@font-face {
    font-family: 'Tungsten-Bold';
    src: url(../fontes/Valorant-Tungsten-Bold.ttf), format(truetype);
}
@font-face {
    font-family: 'Valorant-Font';
    src: url(../fontes/Valorant\ Font.ttf), format(truetype);
}

html{
    z-index: -101;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;

}

body{
    text-decoration: none;
    z-index: -100;
    font-family: 'Tungsten-Bold';
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, transparent 30%, #1b1b1b 100%), url(../img/mn7whg9iex691.png);

}

/*----------------------------------começo-lista-2------------------------------------------*/
.lista-armas{
    font-family: 'Tungsten-Bold';
    text-align: center;
    list-style: none;
    color: #f0f0f0;
    background-color: #333333;
    border-radius: 9px;
    border: solid #333333 6px;
    padding-left: 0;
    width: 40%;
    position: relative;
    left: 57%;
    bottom: 1100px;
}
.lista-armas li{
    background-color: #686868;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 9px;
    display: flex;
}
.lista-armas img{
    width: 100px;
    height: auto;
    margin-right: 10px;
}
.link-expandir{
    text-align: center;
    text-decoration: none;
    color: #f0f0f0;
}

/*----------------------------------começo-lista-1------------------------------------------*/
.Lista-mapas{
    position: relative;
    left: 60%;
    bottom: 1200px;
    font-family: 'Tungsten-Bold';
    color: #f0f0f0;
    font-size: 200%;
    text-align: center;
    list-style: none;
    padding: 0;
    border-radius: 9px;
    border: solid #292929 10px;
    background-color: #292929;
    width: 34%;
}
.Lista-mapas li{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50px;
}
.link-expandir{
    text-decoration: none;
}

.mapa-bind{
    background-image: url(../img/Mapas/Mapa-Bind.jpg);
}
.mapa-icebox{
    background-image: url(../img/Mapas/Mapa-IceBox.jpg);
}
.mapa-sunset{
    background-image: url(../img/Mapas/sunset-Capa.jpg);
}
.mapa-breeze{
    background-image: url(../img/Mapas/mapa-breeze.jpg);
}
.mapa-split{
    background-image: url(../img/Mapas/mapa-Split_v2.jpg);
}
.mapa-lotus{
    background-image: url(../img/Mapas/mapa-lotus.jpg);
}
/*---------------------------------------fim-lista-------------------------------------*/


/*----------------------------------1-------------------------------------------*/

.cortina{
    align-items: center;
    position: relative;
    right: -1%;
    padding: 1%;
    height: 43%;
    width: 52%;

}

.imagem-mostruario{
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 9px;
}
.imagem-mostruario img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}
.imagem-mostruario:hover img{
    transform: scale(1.1);
}

.cortina-efx{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    transition: width 0.5s ease;
}

.text-sobimagem{
    font-family: 'Tungsten-Bold';
    position: absolute;
    color: #f0f0f0;
    top: 10%;
    left: 10%;
    z-index: 2;
}



/*----------------------------------2-------------------------------------------*/

.imagem-mostruario2{
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 9px;
}
.imagem-mostruario2 img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}
.imagem-mostruario2:hover img{
    transform: scale(1.1);
}

.cortina-efx2{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    transition: width 0.5s ease;
}

.text-sobimagem{
    font-family: 'Spiegel-Bold';
    position: absolute;
    color: #f0f0f0;
    top: 10%;
    left: 10%;
    z-index: 2;
}

/*----------------------------------3-------------------------------------------*/

.imagem-mostruario3{
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 9px;
}
.imagem-mostruario3 img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}
.imagem-mostruario3:hover img{
    transform: scale(1.1);
}

.cortina-efx3{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    transition: width 0.5s ease;
}

.text-sobimagem{
    font-family: 'Tungsten-Bold';
    position: absolute;
    color: #f0f0f0;
    font-size: 180%;
    top: 10%;
    left: 10%;
    z-index: 2;
}
